---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Saastraa.com - Building Micro products">
	<main>
		<h1 class="text-3xl text-gray-600 underline">Hello Astro</h1>
	</main>
</Layout>
